header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.header__socials {
    display: flex;
    align-items: center;
  }

/*  Responsive social media menu */
.social-menu{
  margin-bottom: 80px;
  display: flex;
  align-items: center;
}

.social-menu ul {
  position: absolute;
  top: 20%;
  left: 7%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
}

.social-menu ul li a {
  position: relative;
  margin: 20px;
  top: 80px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0,0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  padding: 0.6rem;
  border-radius: 50%;
  display: flex;
  font-size: 1.1rem;
}

.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #cd201f;
}

.scroll__down {
position: absolute;
right: -2.3rem;
bottom: 20rem;
transform: rotate(90deg);
font-weight: 200;
font-size: 0.9rem;
color: #64ffda;
}

/* PROGRAMMER IMAGE */
.programmer_image {
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 12rem);
}

/* FLOATING IMAGES POSITION */
#aws {
  position: absolute;
  left: calc(50% + 35rem);
}

#cpp {
  position: absolute;
  left: calc(50% + 16rem);
}

#python {
  position: absolute;
  left: calc(50% + 25rem);
  bottom: calc(70% - 0.1rem);
}

#django {
  position: absolute;
  left: calc(50% + 28rem);
  top: calc(2% + 3rem);
}

#javascript {
  position: absolute;
  left: calc(50% + 38rem);
  top: calc(2% + 8rem);
}

/* FLOATING IMAGES */
@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.react-floater-animated {
  animation: floating 2s ease infinite;
  will-change: transform;
  width: 100px;
  height: 50px;
}

@keyframes floating {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
.react-floater-animated-opposite {
  animation: floating 2s ease infinite;
  will-change: transform;
  width: 100px;
  height: 50px;
}